<p id="notice"><%= notice %></p>

<h1>Noticias</h1>
<%= link_to 'Escribir Noticia', new_article_path %>
<table>
  <tbody>
    <% @articles.each_with_index do |article, index| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.header %></td>
        <td><%= article.body %></td>
        <td><%= article.created_at %></td>
        <td><%= @commentscount[index] %></td>
        <td><%= link_to 'Noticia completa', article %></td>
        <td><%= link_to 'Editar', edit_article_path(article) %></td>
        <td><%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


